body{
    color: white;
    background-color: black;
}
.posting{
    right: 3em;
    position: absolute;
}
.area{
    height: 5em;
    width: 12.5em;
    margin-top: .4em;
    margin-left: 2.8em;
}
.but{
    position: absolute;
    right: .1em;
    margin-top: .6em;
}
.stuff{
    text-align: center;
}
.comm{
    margin-right: 30%;
    margin-left: 30%;
    text-align: center;
    overflow: visible;
    word-wrap: break-word;
}
.hcomm{
    margin-left: 3em;
    margin-bottom: 2em;
}